.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Futura Medium';
  font-size: 20px;
  width: 177px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #00FFB1, #0062FF);
  cursor: pointer;

}

.button-secondary {}

button>img {
  margin-left: 26px;
}
