.cards {
  background: #F9F9F9;
}

.c1-card {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 37.7px 0;
}

.c2-card {
  display: flex;
  justify-content: space-between;
  padding: 67.5px 0 43.2px 0;
}

.__item {
  width: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // justify-content: center;

  img {
    width: 120px;
    height: 120px;
  }

  h2 {
    font-family: Gotham;
    color: #272727;
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-family: 'Futura Medium';
    color: #555555;
    font-size: 16px;
  }
}

.info-category {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;

  .label {
    background: #00E2BF;
    border-radius: 14px;
    color: #FFFFFF;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Futura Medium';
    font-weight: normal;
  }

  .date {
    color: #B1B1B1;
    font-family: 'Futura Medium';
  }
}

.card {
  width: 332px;

  h2 {
    font-family: Gotham;
    color: #272727;
    font-weight: normal;
    font-size: 20px;
  }

  p {
    font-family: 'Futura Medium';
    font-size: 16px;
    color: #555555;
  }
}
