.random {
  background: linear-gradient(to right, #00FFB1, #0062FF);
  height: 239px;
  display: flex;
  align-items: center;
}

.c-random {
  display: flex;
  align-items: center;

  .conteudo-random {
    display: flex;
    align-items: center;
  }
}

.info-sub-footer {
  h2 {
    font-family: Gotham;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
  }

  p {
    width: 800px;
    font-family: 'Futura Medium';
    font-size: 20px;
    color: #fff;
  }
}
