.footer {
  background: #222222;
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  font-family: 'Futura Medium';
  font-size: 12px;
}

.c-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
